html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.title {
    font-size: 50pt;
    color: white;
    font-family: 'Purple Purse';
    margin-top: -3%;
    margin-bottom: 1%;
    text-shadow: black 1px 1px;
}

.jumbotron {
    background-color: teal;
    height: fit-content;
    width: 100%;
}

.lead {
    color: white;
    line-height: 1.3;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: -1.5%;
    font-size: 14pt;
    font-size: large;
    text-shadow: black 1px 1px;
}

.directions {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 11pt;
    margin-top: -.7%;
    font-weight: bold;
}

.name {
    font-family: 'Purple Purse';
}

#pictures {
    display: flex;
}

.hero {
    border-left: solid teal 12px;
    border-top: solid  teal 12px;
    border-right: solid  teal 12px;
    border-bottom: solid  teal 12px;
    border-radius: 10px;
    image-rendering: optimizeQuality;
    padding-left: 0;
    padding-right: 0;
}

footer {
    background-color: teal;
    text-align: center;
    color: white;
    margin-top: 3%;
    font-size:12pt;
    font-family: 'Purple Purse';
    height: 30px;
    padding-top: 3px;
    text-shadow: black 1px 1px;
}

.btn-choice {
    background-color: teal;
    color: white;
    font-weight: bold;
    border-color: teal;
    border-style: outset;
    border-width: 8px;
    outline: none;
    border-radius: 10px;
}

.btn-choice:hover {
    -webkit-box-shadow: inset 0px 0px 10px #004080;
    -moz-box-shadow: inset 0px 0px 10px #004080;
    box-shadow: inset 0px 0px 10px #004080;
    cursor: pointer;
}

.btn-submit {
    background-color: darkmagenta;
    color: white;
    font-weight: bold;
    border-color:darkmagenta;
    border-width: 8px;
    outline: none;
    font-size: larger;
    font-family: 'Purple Purse';
}

.btn-submit:focus {
    -webkit-box-shadow: inset 0px 0px 10px #68008b;
    -moz-box-shadow: inset 0px 0px 10px #68008b;
    box-shadow: inset 0px 0px 10px #68008b;
    outline: none;
}

.btn-action {
    background-color: teal;
    color: white;
    font-weight: bold;
    border-color: teal;
    border-width: 6px;
    outline: none;
    font-size: small;
    margin-right: 4%;
}

  .btn-action:focus {
    background-color: teal;
    -webkit-box-shadow: inset 0px 0px 10px #004080;
    -moz-box-shadow: inset 0px 0px 10px #004080;
    box-shadow: inset 0px 0px 10px #004080;
     outline: none;
  }

.delete-btn {
    font-size: 1.0rem;
    padding: 2px 2px;
    margin: 3px;
    background: teal;
    color: #fff;
    line-height: 2.0;
  }
  

body {
    background-image: url("../images/brickwall.jpg");
}

.results {
    text-align: center;
    text-transform: uppercase;
    height: fit-content;
}

/*all columns */

.colA {
    display: inline-block;
    background-color: lightgray;
    border-left: solid teal;
    border-top: solid  teal;
    border-right: solid  teal;
    border-bottom: solid  teal;
    border-width: 4px;
    padding-top: 40px;
    padding-left: 30px;
    padding-bottom: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black; 
    border-radius: 10px;
}


.recipeImage {
    width: 100%;
    height: 40%;
    image-rendering: optimizeQuality;
    margin-left: -4%;
    margin-bottom: 2%;
    border-style: outset;
}

.recipeName {
    text-align: center;
    font-size: xx-large;
}

.recipePreptime {
    text-align: center;
}

.posterImg {
    border-style: outset;
    margin-bottom: 3%;
    
}

.movieTitle {
    font-size: xx-large;
    margin-top: 2px;
    text-align: center;
}

.moviePlot {
    text-align: justify;
    margin-right: 3%;
}

.movieExtraInfo {
    margin-top: -1%;
    margin-bottom: 2%;
}

.card {
    border-radius: 10px;
}


.saved-card {
    background-color: teal;
    border-radius: 15px;
    margin: 3px;
}

.saved-card:hover {
    cursor: pointer;
    background-color: gray
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

    .delete-btn {
        line-height: 3.0;
    }

    .btn-action {
        line-height: 2.5;
    }

}

